.env
.env.*
!.env.example

node_modules
.next
.vercel
.turbo
.vite
.parcel-cache
out
build
dist
coverage
.nyc_output
playwright-report
test-results
storybook-static
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
